.conteiner {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  inline-size: 256px;
  block-size: 100vh;
  padding-block: 24px;
  padding-inline: 8px;
  border-inline-end: 1px solid rgb(0 0 0 / 8%);
}

.miniConteiner {
  gap: 24px;
  inline-size: 80px;
  padding-block: 24px;
  padding-inline: 8px;
  border-inline-end-width: 1px;
}

.logo {
  gap: 10px;
  inline-size: 240px;
  block-size: 24px;
  padding-block: 0;
  padding-inline: 16px;
}

.hideButton {
  all: unset;
  position: absolute;
  inset-block-end: 5px;
  inset-inline-end: -20px;
  gap: 8px;
  inline-size: 44px;
  block-size: 44px;
  padding-block: 12px;
  padding-inline: 14px;
  cursor: pointer;
  border-radius: 32px;
  opacity: 0.25;
}

.rotateHideButton {
  transform: rotate(180deg);
}
