.items {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-inline-size: 240px;
}

.title {
  gap: 16px;
  block-size: 40px;
  padding-inline: 16px;
  border-radius: 14px;
}

.titleText {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
  letter-spacing: 0%;
}

.item {
  display: flex;
  gap: 16px;
  align-items: center;
  block-size: 56px;
  padding-block: 0;
  padding-inline: 16px;
  cursor: pointer;
  background-color: rgb(255 255 255 / 100%);
  border: none;
  border-radius: 14px;
}

.item:hover {
  background-color: rgb(0 0 0 / 5%);
}

.itemText {
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
  letter-spacing: 0%;
}

.miniItem {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  inline-size: 64px;
  block-size: 64px;
  min-block-size: 64px;
  padding-block: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: rgb(255 255 255 / 100%);
  border: none;
  border-radius: 14px;
}

.miniItem:hover {
  background-color: rgb(0 0 0 / 5%);
}

.miniItemText {
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.24px;
}

.itemSvg {
  inline-size: 24px;
  block-size: 24px;
}
